

<% if current_user.provider == "google_oauth2" || current_user.provider == "facebook" || current_user.provider == "github" %>
    <img src= '<%= current_user.image%>', style='height:50px;width:50px;margin-bottom:5px;'>
<% else %>
<div> <%= current_user.provider %> </div>
<%= image_tag(current_user.avatar_thumbnail) %>
<%end%>



<div>
<h2 style="padding: 22px;"> Home page </h2>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-5" style="border: solid;padding: 11px;border-radius: 18px;margin: 10px;">
			<div class="panel panel-primary">
			    <div class="panel-heading">
			        Latest Orders
			    </div>
				<hr>
			    <div class="panel-body">
			        <div class="row">
			            <div class="col-lg-12">
			            <% @orders.each do |order| %>
							<b>
							<%= link_to order_orders_details_path(order) do %>
							<%= order.orderType %> on <%= order.created_at %> </b>
							<% end %>
							<br>
						<% end %>  
			            </div>
			        </div>
			    </div>
			</div>
		</div>

		<div class="col-sm-5" style="border: solid;padding: 11px;border-radius: 18px;;margin: 10px;">
			<div class="panel panel-primary">
			    <div class="panel-heading">
			        Friend's activties
			    </div>
				<hr>
			    <div class="panel-body">
			        <div class="row">
			            <div class="col-lg-12">
					        <% @all.each do |ord| %>
								<% ord.each do |order|%>
								<b>
								<%= order.user.full_name %> has created an order for <%= order.orderType %> from <%= order.orderFrom %> 
								<% end %> </b>

								<br>
							<% end %>  
			            </div>
			        </div>
			    </div>
			</div>
		</div>

	</div>
</div>

