<!DOCTYPE html>
<html>
  <head>
    <title>YallaNotlob</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="jquery/jquery.js"></script>


  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Yalla Notlob</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
           
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <% if current_user %>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <%= link_to "Home" , home_index_path ,class: "nav-link active" %>
              </li>
              <li>
                 <a href="/friends/new" class= "nav-link active">Friends</a>
                </li>
                <li>
                  <a href="/groups/new" class= "nav-link active">Groups</a>
                 </li>
              <li class="nav-item">
                <a href="/orders" class= "nav-link active">Orders</a>
              </li>
            </ul>
            <% end %>

            <% if user_signed_in? %>
            <%= link_to 'logout', destroy_user_session_path, method: :delete, class:"m-1 btn btn-outline-danger" %>
            <% end %>


            <% if current_user %>
            <% if current_user.provider == "google_oauth2" || current_user.provider == "facebook" || current_user.provider == "github" %>
              <img src= '<%= current_user.image%>', style='height:50px;width:50px;margin-bottom:5px;'>

            <% else %>
              <%= image_tag(current_user.avatar_thumbnail) %>
            <%end%>
          <% end %>


          </div>
        </div>
      </nav>
      <% if user_signed_in? %>
        Welcome! <%= current_user.full_name %>
      <% end %>
      <% if notice.present? %>
      <p class="alert alert-primary"><%= notice %></p>
      <% end %>
      <% if alert.present? %>
      <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <%= yield %>
      
    </div>






 <% if user_signed_in? %>

        <div class="row ">
            <button style="display: none" id="<%= "notification"+current_user.id.to_s+"Trigger" %>" type="button" data-bs-toggle="modal" data-bs-target="<%= "#notification"+current_user.id.to_s+"Modal" %>" class="btn btn-success btn-sm">Add To Cart</button>


            <div class="modal fade" id="<%= "notification"+current_user.id.to_s+"Modal" %>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">New Notification</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="<%= "notification"+current_user.id.to_s%>"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%end %>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>


      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
